@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}


#Hero-Section {
    
    height: 500px;
}

#Hero-Section img{
    width: 250px;
    border-radius: 50%;
}

#Hero-Section p{
    font-weight: 300;
    font-size: 0.8rem;
}



.html-logo{
    width: 150px;
}

.css-logo{
    width: 277px;
}

.boots-logo{
    width: 150px;
}

.carousel{
    border: solid 1px white;
}
footer{
    
    font-weight: 300;
    font-size: 0.8rem;
    height: 50px;
}